{% extends "base.html" %}
{% block content %}
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                 <h2> Fale conosco </h2>
                  <div>Voce pode entra em contato conosco tanto por email ou pelas redes social, abaixo os links para contato<div>
                  </div>
                     <h3>
                     Links
                     </h3> 
                     </br>
                     <ul>
                        <li> E-mail<a href="joneyviana@gmail.com"> joneyviana@gmail.com</a></li>
                        <li> Twitter<a href="@joneyviana"> @joneyviana </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}